body {
  padding: 10px;
}


@font-face {
    font-family: DroidSans;
    src: url(font/DroidSans.ttf);
}


@font-face {
    font-family: DroidSansFallback;
    src: url(font/DroidSansFallbackFull.ttf);
}


@font-face {
    font-family: FreeSans;
    src: url(font/FreeSans.ttf);
}


.emptyButton {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}


.infoButton {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  background-color: #e6e6e6;
}


.infoButton:hover {
  background-color: #cccccc;
}


.identTextLabel {
  font-family: DroidSansFallback;
  text-align: justify;
}


.identTextBox {
  width: 300px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}

.identTextList {
  width: 100px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.identTextList:disabled {
  width: 100px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}

.identTextArea {
  width: 700px;
  height: 100px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.identGrid {
  margin-left: 20px; 
  margin-top: 10px;
}


.classTitleTextLabel {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
}


.classCheckBox {
  margin-left: 40px;
  font-family: DroidSansFallback;
}

.gwt-CheckBox {
  font-family: DroidSansFallback;
}


.keyTitleTextLabel {
  font-family: DroidSansFallback;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: underline;
  font-weight: bold;
}


.airTitleTextLabel {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 5px;
}


.airVerticalPanel {
  margin-left: 20px;
  margin-top: 10px;
}


.airHorizontalPanel {
  margin-left: 20px;
  margin-top: -10px;
}

.airTextList {
  width: 180px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
}


.airTextList2 {
  width: 300px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
}


.airTextList3 {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  background-color: #ffffff;
}


.airTextBox {
  width: 200px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  background-color: #ffffff;
}


.airTextBox2 {
  width: 170px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 10px;
  background-color: #ffffff;
}


.airTitleTextLabel2 {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 20px;
}



.airFlexTable {
  width: 550px;
  heigth: 300px;
}


.airVerticalPanel2 {
  width: 550px !important;
}


.airFlexTableLabel1 {
  margin-left: 40px;
  /* margin-top: 20px; */
  font-family: DroidSansFallback;
  
}


.airFlexTableLabel2 {
  font-family: FreeSans;
  font-style: italic;
  font-weight: bold;
  
}


.geoTitleTextLabel {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
}


.geoTextList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  background-color: #ffffff;
}


.geoTextList:disabled {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  background-color: #d6d6d6;
}


.geoVerticalPanel {
  margin-left: 20px;
  margin-top: 10px;
}


.geoTextBox {
  width: 50px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.geoTextBox2 {
  width: 150px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
  margin-left: 20px;
}


.geoTextBox3 {
  width: 100px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
  margin-left: 20px;
}


.geoTextBox4 {
  width: 50px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 7px;
  background-color: #ffffff;
}


.geoTitleTextLabel2 {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 40px;
}


.refTextLabel {
  font-family: DroidSansFallback;
}


.refHorizontalPanel {
  margin-left: 20px;
  margin-bottom: 10px;
}


.refTitleTextLabel {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 60px;
}


.useVerticalPanel {
  margin-left: 20px;
  margin-top: 10px;
}


.useTextLabel {
  font-family: DroidSansFallback;
  margin-right: 40px;
  width: 150px;
  heigth: 30px;
  text-align: justify;
}


.useTextArea {
  width: 700px;
  height: 100px;
  border: 1px solid #ccc;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.orgFlexTable {
  margin-left: 20px;
  margin-top: 10px;
}


.orgTextLabel {
  font-family: DroidSansFallback;
  margin-right: 20px;
  text-align: justify;
}


.orgTextBox {
  width: 200px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.orgTextList {
  width: 210px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.metVerticalPanel {
  margin-left: 20px;
  margin-top: 10px;
}


.metTextLabel {
  font-family: DroidSansFallback;
  text-align: justify;
}


.metTextLabel2 {
  font-family: DroidSansFallback;
  text-align: justify;
}


.metTextList {
  width: 100px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.metHorizontalPanel {
  margin-left: 20px;
  margin-bottom: 10px;
}


.metTitleTextLabel {
  font-family: DroidSansFallback;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 40px;
  margin-top: -10px;
}


.metTextBox {
  width: 200px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.metTextBox2 {
  width: 200px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.saveTextBox {
  width: 210px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
}


.saveTextLabel {
  font-family: DroidSansFallback;
  margin-left: 20px;
  margin-right: 15px;
  text-align: justify;
}


.saveVerticalPanel {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}


.openTextBox {
  width: 210px;
  height: 30px;
  padding: 5px 4px;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.myInfoBox {
  background: #e5e5e5;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: FreeSans;
  border: 1px solid black;
  
}


.flexTable {
  height: 10px;
  width: 350px;
  font-size: 12px;
  font-weight: bold;
}

.flexTable-SecondColumn {
  width: 40px;
}

.gwt-StackLayoutPanel {
  border-bottom: 1px solid #bbbbbb !important;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  cursor: hand !important;
  font-size: 1.05em !important;
  font-family: DroidSans !important;
  padding: 3px !important;
  border: 1px solid #bbbbbb !important;
  border-bottom: 0px !important;
  background: #d3def6 !important;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {
  background: #bfcaec !important;
  font-size: 1.2em !important;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  background: #e6e6e6 !important;
}


.gwt-TabLayoutPanel {
	
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  overflow: auto !important;
  padding: 6px !important;
  background: #e6e6e6 !important; 
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  cursor: hand !important;
  color: black !important;
  font-size: 1.1em !important;
  text-align: middle !important;
  background: #d3def6 !important;
  font-family: DroidSansFallback !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default !important;
  background: #e6e6e6 !important;
  font-size: 1.2em !important;
  color: #000000 !important;
  font-family: DroidSansFallback !important;
}


.gwt-TabLayoutPanelScrollPanel {
  background: #e6e6e6 !important;
}


.gwt-TabLayoutPanelScrollButton:hover {
  background: #c8c8c8!important;
}


.gwt-MenuBar .gwt-MenuItem {
  font-family: DroidSans !important;
  font-size: 15px !important;
  vertical-align: middle !important;
}


.textrequired {
	color: rgb(200,0,0) !important;
}


.textuncorrect {
	color: rgb(0,0,200) !important;
}


.textcompleted {
	color: Black !important;
}


.gwt-DateBox {
  padding: 5px 4px !important;
  border: 1px solid #ccc !important;
  width: 80px !important;
  height: 15px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-family: FreeSans !important;
  background-color: #ffffff !important;
}


.myUploadBox {
  background: #e5e5e5;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: FreeSans;
  border: 1px solid black; 
}


.popupText {
  font-family: DroidSansFallback;
  margin-left: 20px;
  text-align: justify;
  font-size: 12px;
}


.gi_textBox {
  width: 100px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 10px;
  background-color: #ffffff;
}


.qv_imageRad {
  margin-left: 100px;
  font-family: DroidSansFallback;
  font-weight: bold;
}


.qv_insituRad {
  margin-left: 200px;
  font-family: DroidSansFallback;
  font-weight: bold;
}


.qv_insituLabel {
  font-family: DroidSansFallback;
  text-align: justify;
  margin-left: 40px;
}


.qv_insituLabel2 {
  font-family: DroidSansFallback;
  text-align: justify;
  width: 200px;
  margin-left: 40px;
}


.qv_insituBox {
  width: 700px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  margin-left: 20px;
  background-color: #ffffff;
}


.qv_insituChk {
  margin-left: 0px;
  font-family: DroidSansFallback;
}


.qv_insituLabelTitle {
  font-family: DroidSansFallback;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}


.qv_insituLabelTitle2 {
  font-family: DroidSansFallback;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}


.qv_insituLabelTitle3 {
  font-family: DroidSansFallback;
  font-weight: bold;
  text-decoration: underline;
}


.qv_insituTextAre {
  width: 700px;
  height: 100px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
  margin-left: 40px;
}


.qv_imageLabelTitle {
  font-family: DroidSansFallback;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}


.qv_imageLabelTitle2 {
  font-family: DroidSansFallback;
  text-decoration: underline;
  margin-top: 10px;
  margin-left: 40px;
}


.qv_imageLabel {
  font-family: DroidSansFallback;
  margin-left: 40px;
  margin-right: 20px;
}


.qv_imageLabel2 {
  font-family: DroidSansFallback;
  margin-left: 80px;
  margin-right: 20px;
}


.qv_imageBox {
  width: 300px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.qv_imageBox2 {
  width: 50px;
  height: 15px;
  padding: 5px 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}


.qv_imageList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  font-family: FreeSans;
  background-color: #ffffff;
}