body {
  padding: 10px;
}


@font-face {
  font-family: MyFontHeader;
  src: url(font/Cinzel-Regular.otf);
}


@font-face {
  font-family: MyFont;
  src: url(font/SourceSansPro-Regular.ttf);
}


@font-face {
  font-family: MyFontBold;
  src: url(font/SourceSansPro-Semibold.ttf);
}


@font-face {
  font-family: MyFontBoldItalic;
  src: url(font/SourceSansPro-SemiboldItalic.ttf);
}


@font-face {
  font-family: MyFontLight;
  src: url(font/SourceSansPro-ExtraLight.ttf);
}


.emptyButton {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}


.infoButton {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}


.infoButton:active {
  transform: translateX(1px) translateY(1px);
}


.headerTextLabel {
  font-family: MyFontHeader;
  color: #616265;
  font-size: 28px;
  margin-top: 26px;
  font-weight: 400;
  text-align: center
}


.headerHorizontalPanel {
  height: 80px;
  width: 100%;
  background: white;
  background-image: url(icons/logo_small_header.png);
  background-repeat: no-repeat;
  background-size: auto;
}


.menuMainImage {
  width: 150px;
  height: 150px;
  background-image: url(icons/eufar_heading_clouds.jpg);
  background-repeat: no-repeat;
  background-size: auto 150px;
  background-position: left top;
}


.identMainText2 {
  margin-left: 30px;
  font-family: MyFontHeader;
  font-weight: 400;
  font-size: 26px;
  color: white;
  background: #616264;
  width: 400px;
  height: 42px;
  padding-left: 0px;
  padding-top: 8px;
  text-align: center;
}


.identMainImage {
  height: 171px;
  background-image: url(icons/eufar_heading_clouds.jpg);
  background-repeat: no-repeat;
  background-size: auto 150px;
  background-position: right top;
}


.identStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
}

.identTextLabel {
  font-family: MyFontBold;
  color: #4f4f4f;
  font-size: 14px;
  text-align: right;
  width: 120px;
}


.identTextBox {
  width: 500px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background-color: rgb(238,238,238);
  margin-left: 15px;
}


.identTextBox:focus {
  border: 1px solid #ffa126;
}


.identTextList {
  width: 100px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
  margin-left: 15px;
}


.identTextList:disabled {
  background: #ffffff;
}


.identTextList:focus {
  border: 1px solid #ffa126;
}


.identTextArea {
  width: 500px;
  height: 100px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
  padding: 3px 3px 3px 3px;
  margin-left: 15px;
}


.identTextArea:focus {
  border: 1px solid #ffa126;
}


.identGrid {
  margin-left: 30px; 
  width: 1200px;
  margin-top: -7px;
  background: white;
}



.identLine {
  margin-left: 30px;
}


.identMainText {
  margin-top: 10px;
  margin-bottom: 6px;
  margin-left: 55px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 12px;
  color: rgb(130,130,130);
}


.identPathText {
  margin-top: 10px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 12px;
  color: #ffa126;
}


.identPathText2 {
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 12px;
  color: #ffa126;
}


.classTitleTextLabel {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 10px;
}


.classCheckBox {
  color: #4f4f4f;
  margin-left: 40px;
  font-family: MyFont;
  font-size: 14px;
}


.classHorizontalPanel {
  margin-left: 30px;
  background: white;
  margin-top: -7px;
  width: 1200px;
}


.gwt-CheckBox {
  color: #4f4f4f !important;
  font-family: MyFont;
  font-size: 14px;
}


.keyMainPanel {
  margin-left: 30px; 
  width: 1200px;
  margin-top: -7px;
  background: white;
}


.keyHorizontalPanel {
  margin-left: 10px;
  margin-top: 200px;
}


.keyTitleTextLabel3 {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
}


.keyTitleTextLabel {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: underline;
}


.keyTitleTextLabel2 {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 0px;
  text-decoration: underline;
}


.airStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 13px;
}


.airStarLabel2 {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
}


.airTitleTextLabel {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 15px;
  margin-left: 10px;
}


.airTitleTextLabel3 {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
}


.airVerticalPanel {
  margin-left: 30px;
  margin-top: -7px;
  background: white;
  width: 1200px;
}


.airVerticalPanel2 {
  margin-left: 0px;
}


.airHorizontalPanel {
  margin-left: 20px;
  margin-top: -10px;
}

.airTextList {
  width: 180px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(238,238,238);
}


.airTextList:focus {
  border: 1px solid #ffa126;
}


.airTextList2 {
  width: 300px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(238,238,238);
}


.airTextList2:focus {
  border: 1px solid #ffa126;
}


.airTextList3 {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 94px;
  background-color: rgb(238,238,238);
}


.airTextList3:focus {
  border: 1px solid #ffa126;
}


.airTextBox {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  background-color: rgb(238,238,238);
}


.airTextBox:focus {
  border: 1px solid #ffa126;
}


.airTextBox2 {
  width: 170px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 10px;
  background-color: rgb(238,238,238);
}


.airTextBox2:focus {
  border: 1px solid #ffa126;
}


.airTextBox3 {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 63px;
  background-color: rgb(238,238,238);
}


.airTextBox3:focus {
  border: 1px solid #ffa126;
}


.airTextBox4 {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 71px;
  background-color: rgb(238,238,238);
}


.airTextBox4:focus {
  border: 1px solid #ffa126;
}


.airTextBox5 {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 89px;
  background-color: rgb(238,238,238);
}


.airTextBox5:focus {
  border: 1px solid #ffa126;
}


.airTextBox6 {
  width: 170px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 10px;
  background-color: rgb(238,238,238);
}


.airTextBox2:focus {
  border: 1px solid #ffa126;
}


.airTitleTextLabel2 {
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 20px;
  color: #4f4f4f;
}


.airFlexTable {
  width: 550px;
  heigth: 300px;
}


.airVerticalPanel2 {
  width: 550px !important;
}


.airCopyrightInfo {
  color: #4f4f4f;
  font-family: MyFont;
  font-size: 14px;
}

.airFlexTableLabel1 {
  color: #4f4f4f;
  margin-left: 65px;
  font-family: MyFontBold;
  font-size: 14px;
}


.airFlexTableLabel2 {
  font-family: MyFontBoldItalic;
  font-size: 14px;
  height: 17px;
  margin-left: 63px;
}


.airFlexTableLabel3 {
  font-family: MyFontBoldItalic;
  font-size: 14px;
  height: 17px;
  margin-left: 71px;
}


.airFlexTableLabel4 {
  font-family: MyFontBoldItalic;
  font-size: 14px;
  height: 17px;
  margin-left: 89px;
}


.airFlexTableLabel5 {
  font-family: MyFontBoldItalic;
  font-size: 14px;
  height: 17px;
  margin-left: 94px;
}


.airFlexTableLabel6 {
  font-family: MyFontBoldItalic;
  font-size: 14px;
  height: 17px;
  margin-left: 20px;
}


.airFlexTableLabel7 {
  color: #4f4f4f;
  font-family: MyFont;
  font-size: 14px;
}


.geoTitleTextLabel {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 10px;
}


.geoTextList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  background: rgb(238,238,238);
}


.geoTextList:disabled {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  background: #d6d6d6;
}


.geoTextList:focus {
  border: 1px solid #ffa126;
}


.geoVerticalPanel {
  margin-top: -7px;
  margin-left: 30px;
  width: 1200px;
  background: white;
  padding-bottom: 10px;
  padding-top: 8px;
}


.geoTextBox {
  width: 50px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.geoTextBox:focus {
  border: 1px solid #ffa126;
}


.geoTextBox2 {
  width: 150px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
  margin-left: 20px;
}


.geoTextBox2:focus {
  border: 1px solid #ffa126;
}


.geoTextBox3 {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
  margin-left: 20px;
}


.geoTextBox3:focus {
  border: 1px solid #ffa126;
}


.geoTextBox4 {
  width: 50px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 7px;
  background: rgb(238,238,238);
}


.geoTextBox4:focus {
  border: 1px solid #ffa126;
}


.geoTextBox5 {
  width: 50px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.geoTextBox5:focus {
  border: 1px solid #ffa126;
}


.geoTitleTextLabel2 {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 10px;
}


.geoStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 40px;
}


.geoTitleTextLabel3 {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 20px;
}


.refVerticalPanel {
  background: white;
  margin-left: 30px;
  margin-top: -7px;
  padding-bottom: 8px;
  width: 1200px;
  padding-top: 9px;
}



.refTextLabel {
  color: #4f4f4f;
  font-family: MyFontBold;
  font-size: 14px;
}


.refHorizontalPanel {
  margin-left: 20px;
  margin-bottom: 10px;
}


.refTitleTextLabel {
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 8px;
  margin-left: 10px;
  color: #4f4f4f;
}


.refStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 7px;
  margin-right: 60px;
}


.refStarLabel2 {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
}


.useVerticalPanel {
  margin-left: 30px;
  margin-top: -7px;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 1200px;
}


.useTextLabel {
  font-family: MyFontBold;
  font-size: 14px;
  margin-left: 10px;
  width: 150px;
  heigth: 30px;
  text-align: right;
  margin-top: 43px;
  color: #4f4f4f;
}


.useStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 43px;
  margin-right: 40px;
}


.useTextArea {
  width: 700px;
  height: 100px;
  border: 1px solid #ccc;
  margin-left: 20px;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
  padding: 3px 3px 3px 3px;
}


.useTextArea:focus {
  border: 1px solid #ffa126;
}


.orgVerticalPanel {
  width: 1200px;
  background: white;
  margin-left: 30px;
  margin-top: -7px;
}


.orgStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 20px;
}


.orgTextLabel {
  font-family: MyFontBold;
  font-size: 14px;
  text-align: justify;
  color: #4f4f4f;
}


.orgTextBox {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.orgTextBox:focus {
  border: 1px solid #ffa126;
}


.orgTextList {
  width: 210px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.orgTextList:focus {
  border: 1px solid #ffa126;
}


.metStarLabel {
  font-family: MyFontBold;
  color: #ED1C24;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 20px;
}


.metVerticalPanel {
  margin-left: 30px;
  margin-top: -7px;
  background: white;
  width: 1200px;
}


.metTextLabel {
  font-family: MyFontBold;
  font-size: 14px;
  text-align: justify;
  color: #4f4f4f;
}



.metTextList {
  width: 100px;
  height: 25px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.metTextList:focus {
  border: 1px solid #ffa126;
}


.metHorizontalPanel {
  margin-left: 20px;
  margin-bottom: 10px;
}


.metTitleTextLabel {
  font-family: MyFontBold;
  font-size: 14px;
  text-decoration: underline;
  margin-right: 40px;
  margin-top: -10px;
  color: #4f4f4f;
}


.metTitleTextLabel2 {
  font-family: MyFontBold;
  font-size: 14px;
  margin-right: 40px;
  margin-top: 20px;
  color: #4f4f4f;
  margin-left: 10px;
}


.metTextBox {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.metTextBox:focus {
  border: 1px solid #ffa126;
}


.metTextBox2 {
  width: 200px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  background: rgb(238,238,238);
}


.metTextBox2:focus {
  border: 1px solid #ffa126;
}


.saveTextBox {
  width: 210px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
}


.saveTextLabel {
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 15px;
  text-align: justify;
}


.saveVerticalPanel {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}


.openTextBox {
  width: 210px;
  height: 30px;
  padding: 3px 3px;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.myInfoBox {
  background: #e5e5e5;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: MyFont;
  font-size: 14px;
  border: 1px solid black;
}


.flexTable {
  height: 10px;
  width: 350px;
  font-size: 12px;
  font-weight: bold;
}


.flexTable-SecondColumn {
  width: 40px;
}


.gwt-TabLayoutPanel {
   background: #616266 !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: #616266 !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
  border: 0px solid !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  overflow: auto !important;
  background: rgb(238,238,238) !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  font-family: MyFont !important;
  font-size: 14px !important;
  margin-left: 4px !important;
  padding: 0px 10px 6px 10px !important;
  cursor: pointer !important;
  cursor: hand !important;
  color: white !important;
  font-weight: 300 !important;
  text-align: center !important;
  background: #616266 !important;
  border-radius: 3px 3px 0px 0px !important;
  text-transform: uppercase;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default !important;
  background: #616266 !important;
  border-bottom: 5px solid #ffa126 !important;
}


.gwt-MenuBar {
  cursor: default !important;
}


.gwt-MenuBar-horizontal {
  border: 1px solid #616266 !important;
  height: 38px! important;
  background: #616266 !important;
  padding-top: 2px !important;
}


.gwt-MenuBar-horizontal .gwt-MenuItem {
  height: 21px !important;
  border: 1px solid #616266 !important;
  border-radius: 3px !important;
  background: #616266 !important;
}


.gwt-MenuBar-horizontal .gwt-MenuItem:hover {
  border: 1px solid black !important;
  border-radius: 3px !important;
  background: black !important;
}


.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
  border: 1px solid black !important;
  border-radius: 3px !important;
  background: black !important;
}


.gwt-MenuBar-vertical {
  margin-top: 0px !important;
  margin-left: 0px !important;
  background: white !important;
  
}


.gwt-MenuBar-vertical table {
  border-collapse: collapse !important;
  
}


.gwt-MenuBar-vertical .gwt-MenuItem {
  font-family: MyFont !important;
  font-size: 14px !important;
  padding: 5px 20px 5px 20px !important;
}


.gwt-MenuBar-vertical .gwt-MenuItem-selected {
  background: rgb(240,240,240) !important;
}


.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 10px 0px 10px 0px !important;
}


.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px !important;
  padding: 0px !important;
  border: 0px !important;
  border-top: 1px solid #ccc !important;
  overflow: hidden !important;
}


.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 10px !important;
  padding-left: 10px !important;
}


.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: rgb(240,240,240) !important;
}


.gwt-MenuBarPopup {
  margin-left: -5px !important;
}


.gwt-MenuBarPopup .menuPopupTopCenter {
  border-top: 1px solid rgb(180,180,180) !important;
  background: white !important;
}


.gwt-MenuBarPopup .menuPopupBottomCenter {
  border-bottom: 1px solid rgb(180,180,180) !important;
  background: white !important;
}


.gwt-MenuBarPopup .menuPopupMiddleLeft {
  border-right: 1px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupMiddleRight {
  border-left: 1px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupTopLeft {
  border-right: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupTopRight {
  border-left: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupBottomLeft {
  border-right: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupBottomRight {
  border-left: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.textrequired {
  color: rgb(200,0,0) !important;
}


.textuncorrect {
  color: rgb(0,0,200) !important;
}


.textcompleted {
  color: Black !important;
}


.gwt-DateBox {
  padding: 5px 4px !important;
  border: 1px solid #ccc !important;
  width: 80px !important;
  height: 15px !important;
  font-family: MyFont !important;
  font-size: 14px !important;
  background: rgb(238,238,238) !important;
  text-align: center !important;
  margin-left: 10px !important;
}


.gwt-DateBox:focus {
  border: 1px solid #ffa126 !important;
}


.myUploadBox {
  background: #e5e5e5;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: MyFont;
  font-size: 14px;
  border: 1px solid black;
}


.popupText {
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  text-align: justify;
}


.gi_textBox {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 10px;
  background-color: #ffffff;
}


.checkBoxLabel {
  font-family: MyFont;
  font-size: 14px;
}


.gwt-TabLayoutPanelScrollButton {
  padding-top: 2px;
  padding-bottom: -2px;
}


.gwt-TabLayoutPanelScrollButton:active {
  transform: translateX(1px) translateY(1px);
}


.footerLeft {
  width: 102px;
  height: 30px;
  background: rgb(239,238,237);
  border: 1px solid #D2D5D8;
}


.footerRight {
  width: 78px;
  height: 30px;
  background: rgb(239,238,237);
  border: 1px solid #D2D5D8;
}


.footerCenter {
  width: 137px;
  height: 30px;
  background: rgb(239,238,237);
  border: 1px solid #D2D5D8;
}


.footerCenter:hover {
  color: #F9A12A;
}


.footerLeftLabel {
  font-family: MyFont;
  font-weight: 700;
  font-size : 12px;
  color: #616265;
  padding: 8px;
  border-left: 1px solid #D2D5D8;
}


.footerRightLabel {
  font-family: MyFont;
  font-weight: 700;
  font-size : 12px;
  color: #616265;
  padding: 8px;
  border-left: 1px solid #D2D5D8;
}


.footerCenterLabel {
  font-family: MyFont;
  font-weight: 700;
  font-size : 12px;
  color: #616265;
  padding: 8px;
  border-left: 1px solid #D2D5D8;
}